__pycache__
cde-search-env
.conda_envs_dir_test
.cache
img/*
gifs/*
data/metrics.jsonlist
data/test-based-gp/plots/*
data/test-based-gp/tables/*
data/test-based-gp/raw/*
data/sft
data/metrics/old
data/test-based-gp/old