click @ file:///croot/click_1698129812380/work
contourpy==1.1.1
cycler==0.12.1
fonttools==4.43.1
kiwisolver==1.4.5
matplotlib==3.8.0
mkl-fft @ file:///croot/mkl_fft_1695058164594/work
mkl-random @ file:///croot/mkl_random_1695059800811/work
mkl-service==2.4.0
munkres==1.1.4
numpy==1.26.1
packaging==23.2
pandas==2.1.1
patsy==0.5.6
Pillow @ file:///croot/pillow_1696580024257/work
ply==3.11
pyparsing==3.1.1
PyQt5==5.15.10
PyQt5-sip @ file:///croot/pyqt-split_1698769088074/work/pyqt_sip
python-dateutil==2.8.2
pytz==2023.3.post1
scikit-posthocs==0.10.0
scipy==1.14.1
seaborn==0.13.0
sip @ file:///croot/sip_1698675935381/work
six @ file:///tmp/build/80754af9/six_1644875935023/work
statsmodels==0.14.4
tabulate @ file:///croot/tabulate_1701354810597/work
tomli @ file:///opt/conda/conda-bld/tomli_1657175507142/work
tornado @ file:///croot/tornado_1696936946304/work
tzdata==2023.3
youtube-dl==2021.12.17
